@font-face {
    font-family: "Lato";
    src: url("/Assets/Fonts/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("/Assets/Fonts/Lato-Italic.ttf");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("/Assets/Fonts/Lato-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: "Agustina";
    src: url("/Assets/Fonts/Agustina.otf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body{
    background-color: #430170;
    color: white;
    font-family: Lato;
    font-size: 18px;
    background-image: url("/Assets/Images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: rgba(67, 1, 112, 0.502);
    backdrop-filter: blur(3px);
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
}
.logoTexto{
    font-family: Agustina;
    font-size: 1.5em;
}

.menu li{
  margin-left: 5px;
}

.gris{
    color: #868e96;
}

header ul li a {
  border-radius: 1rem;
  transition: background 1s ease;
}
a.active {
  background: hsla(295, 16%, 72%, 0.425);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar ul,
.iconos-linea,
.dev-icons {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.cover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8rem 2rem;
  }

.wrapper_flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}
.sobre_mi {
  display: flex;
  align-items: center;
  gap: 2rem;
}

h1{
    font-size: 3em;
}

h2{
  text-align: center;
  margin: 0;
  margin-bottom: 2%;
  text-transform: uppercase;
}

h2::after {
  content: "";
  display: block;
  width: 10%; 
  height: 4px; 
  background-color: #b057eb; 
  margin: 0.5em auto 0; 
  border-radius: 2px; 
}

a{
  text-decoration: none;
}
nav a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

nav a:hover {
    color: #430170;
    background-color: rgba(222, 189, 230,0.8);
    backdrop-filter: blur(3px);
}
nav a:hover .gris {
    color: white;
  }
  
.button {
  text-align: center;
    background-color: #debde6;
    color: #430170;
    padding: 10px 20px;
    font-weight: 700;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    border: 0px;
    box-shadow: inset 0 0 0 0 #725AC1;
    transition: 
    background-color 0.4s ease-out,
    color 0.4s ease-out,
    box-shadow 0.4s ease-out;
  }

.button:hover{
  background-color: #725AC1;
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}
  
a.button:hover {
    background-color: #d49ed8;
}


.profile-image {
    border: .5rem solid #8b44b4;
    border-radius: 50%;
    height: auto;
    margin-left: auto;
    max-width: 350px;
    width: 100%;
}

.card_background{
    color: #430170;
    background: linear-gradient(316deg, #9c89f7 0%, #C8BFE7 74%);
    border-radius: 30px;
    margin: 0 8%;
}


footer{
    margin-top: 2%;
    background-color: black;
    text-align: center;
    padding: 20px;
    padding-top: 3%;
    color: white;
}

footer a p{
  color: white;
}

.iconos-linea {
  display: flex;
  justify-content: space-between; /* extremos a los lados */
  align-items: center;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0;
}

.iconos-linea li {
  flex: 1; /* cada li ocupa el mismo espacio */
}
.iconos-linea img {
  width: 40px;
  height: 40px;
}

.iconos-linea > li > p a{
  margin-top: 8px;
  font-size: 16px;
}


/* CONTACT PAGE */

fieldset{
  border: 0px;
  padding: 0;
}

.input_area{
  position: relative;
  padding-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 100%;
}
.input_area input,
.input_area textarea {
  border: none;
  outline:none;
  padding: 12px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: border-color 0.3s ease;
  width: 100%;
  display: block;
}

.input_area textarea{
  height: 8rem;
}
.input_area .placeholder{
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: 
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.input_area input:valid ,
.input_area input:focus ,
.input_area textarea:valid ,
.input_area textarea:focus {
  border-color: #b057eb;
}

.input_area input:valid + .placeholder,
.input_area input:focus + .placeholder,
.input_area textarea:valid + .placeholder,
.input_area textarea:focus + .placeholder{
  top: 10px;
  font-size: 0.8em;
  color: #430170;
}

.iconos-vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em; 
  padding: 0;
}
.iconos-vertical li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
}

  label{
    font-size: 0.9em;
    display: block;
    text-transform: uppercase;
  }

  .contact{
    width: 55%;
  }

  .contenedor{
    width: 100%;
    max-width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .contact {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  padding-right: 2rem;
}

.contenedor-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-photo{
    height: auto;
    max-width: 25em;
    width: 100%;
}